@import "@/styles/_variables.scss";
.main{
    min-width: 100%;
    min-height: 20vh;
    // border: 1px solid red;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px 100px 10px 100px;
    background-color: black;
    color: white;
    font-family: $font-main;

    .logo{
        // font-family: monospace;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 5px;
        padding: 12px;
        color:  $light-blue;
    }

    ul{
        font-size: 13px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        gap: 30px;
        list-style-type: none;
        letter-spacing: 2px;
        margin-bottom: 8px;
    }

    .social_media{
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .copyright{
        font-size: 13px;
        // border: 1px solid red;
        word-spacing: 3px;
        display: flex;
        justify-content: center;
    }

}

@media only screen and (max-width: 600px){
    .main{
        padding: 40px 40px 8px 40px;
        gap: 20px;
        .logo{
            padding: 5px;
        }
       ul{
        flex-direction: column;
        gap: 8px;
        text-align: center;
        font-size: 11px;
        margin: 10px 0;
       } 
    }
}